.voice-button{
    width: 100px;
    height: 50px;
}

.close-button{
    position: absolute;
    right: 15px;
    top:15px
}

.content{
    color: #a4abaf;
    font-size: 1.8rem;
    margin: 15px 0;
}

.wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.micro{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header{
    font-size: 2.5rem;
    font-weight: 500;
}