.wrapper {
  background-color: var(--black);
  color: white;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.logo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

// nav bar
.nav-bar {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--white);

  &:hover {
    color: #0a7514;
  }
}
