.absolute {
  position: absolute
}

.-right-1 {
  right: -0.25rem
}

.-top-0 {
  top: -0px
}

.-top-0\.5 {
  top: -0.125rem
}

.flex {
  display: flex
}

.flex-row {
  flex-direction: row
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity))
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pt-12 {
  padding-top: 3rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.font-semibold {
  font-weight: 600
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity))
}
