.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:30%;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  border-right: 2px solid white;
}

.left-top {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.left-top-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-top-value {
  font-weight: 800;
  font-size: 3rem;
}

.measurement-unit {
  font-weight: 600;
  font-size: 2.4rem;
  margin-left: 5px;
}

.left-bottom {
  width: 100%;
  height: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left-bottom-text {
  text-align: center;
  font-size: 0.8em;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.right-top {
  width: 100%;
  height: 70%;
  text-align: center;
  margin-bottom: 10%;
}

.right-top-mode {
  font-size: 2.2rem;
  font-weight: 700;
}

.right-top-text {
  font-size: 0.8em;
}

.right-bottom {
  padding: 0 10px;
  width: auto;
  text-align: center;
  height: 30%;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.6rem;
}

.right-bottom-high {
  color: red;
  border: 1px solid red;
}

.right-bottom-low {
  color: #031cab;
  border: 1px solid #031cab;
}
