.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 10px;
}

.just-a-line {
  border-right: 2px solid rgba(215, 215, 215, 1);
  height: 550px;
  width: 0px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 90px;
  gap: 10px;
}

.right-side {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #000000;
}

.content-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #000000;
  width: 400px;
  justify-content: space-between;
}

.dialog-box {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 500px;
  padding: 0 10px 0 0;
}

.dialog-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 5px;
}